.movies {
  max-width: 1146px;
  margin: 88px auto 65px;
}

@media screen and (max-width: 1279px) {
  .movies {
    width: 768px;
    margin: 40px auto 65px;

  }
}

@media screen and (max-width: 767px) {
  .movies {
    max-width: 300px;
  }
}