.search-bar {
  display: flex;
  justify-content: space-between;
  /* width: 1146px; */
}

.search-form {
  display: flex;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 50px;
  width: 915px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0;
}

.search-form__input {
  border: none;
}

::placeholder {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;

  color: #A0A0A0;
}

.search-form__button {
  width: 80px;
  height: 34px;
  border: none;
  background-image: url('../../images/search.svg');
}

@media screen and (max-width: 1279px) {
  .search-bar {
    width: 740px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: 25px 0 0 30px;

  }

  .search-form {
    width: 708px;
  }
}

@media screen and (max-width: 767px) {
  .search-bar  {
    max-width: 320px;
    padding: 0;
  }
  .search-form {
    width: 300px;
  }
}