.search-bar {
  display: flex;
  justify-content: space-between;
}

.search-form {
  display: flex;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 50px;
  width: 915px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0;
  cursor: pointer;
}

.search-form__input {
  border: none;
  width: 85%;
  background-color: #FAFAFA;
}

::placeholder {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;

  color: #A0A0A0;
}

.search-form__button {
  width: 80px;
  height: 34px;
  border: none;
  background-image: url('../../images/search.svg');
  cursor: pointer;
  background-color: #FAFAFA;
}

.search-form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .search-bar {
    width: 720px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    padding: 25px 0 0 0;
  }

  .search-form {
    width: 700px;
  }

  .search-form__input {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .search-bar {
    max-width: 300px;
    padding: 30px 0 0 0;
  }

  .search-form {
    width: 280px;
  }

  .search-form__input {
    width: 70%;
  }
}