.register {
  max-width: 396px;
  margin: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 0 0 40px;
  margin: 0;
}

.register__form-label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin: 0;
  padding: 20px 0 10px;
  display: block;
}

.register__form-input {
  display: block;
  padding: 0 0 0 15px;
  min-height: 46px;
  min-width: 381px;
  border: none;
  background-color: #F4F4F4;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.register__form-submit {
  background-color: #3456F3;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  min-width: 396px;
  min-height: 45px;
  margin: 179px auto 16px;
  cursor: pointer;
}

.register__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.register__footer-link {
  padding: 0 0 0 6px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3456F3;
}

.register__form-input-span-error-active {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  min-height: 10px;

  color: #EE3465;
}

@media screen and (max-width: 1279px) {
  .register__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 20px;
  }

  .register__form-submit {
    margin-top: 90px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .register {
    max-width: 320px;
  }

  .register__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 60px;
  }

  .register__form-input {
    min-width: 260px;
    font-size: 13px;
    line-height: 16px;
    margin: auto;
  }

  .register__form-label {
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .register__form-input-span-error-active {
    padding-left: 30px;
  }

  .register__form-submit {
    min-width: 260px;
    margin: 175px 30px 14px;
  }
}