.login {
  max-width: 396px;
  margin: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 0 0 40px;
  margin: 0;
}

.login__form-label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin: 0;
  padding: 20px 0 10px;
  display: block;
}

.login__form-input {
  display: block;
  padding: 0 0 0 15px;
  min-height: 46px;
  min-width: 381px;
  border: none;
  background-color: #F4F4F4;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.login__form-submit {
  /* display: flex; */
  background-color: #3456F3;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  min-width: 396px;
  min-height: 45px;
  margin: 0 auto 16px;
  padding: 0;
}

.login__form-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.login__form-submit_disabled {
  background-color: #E5E5E5;
  color: #C2C2C2;
}

.login__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.login__footer-link {
  padding: 0 0 0 6px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3456F3;
}

.login__footer-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.login__form-input_error {
  color: #EE3465;
}

.login__form-input-span-error-active {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  min-height: 10px;
  color: #EE3465;
  max-width: 381px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.login__form-status {
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  text-decoration: none;
  justify-content: center;
  max-width: 410px;
  padding: 169px 0 20px;
  margin: auto;
}


@media screen and (max-width: 1279px) {
  .login__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 20px;
  }

  .login__form-submit {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    max-width: 320px;
  }

  .login__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 60px;
    text-align: center;
  }

  .login__form-input {
    min-width: 260px;
    font-size: 13px;
    line-height: 16px;
    margin: auto;
  }

  .login__form-input-span-error-active {
    padding-left: 30px;
    max-width: 260px;
  }

  .login__form-label {
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .login__form-submit {
    min-width: 250px;
    margin: 0 30px 14px;
  }

  .login__form-status {
    padding-top: 175px;
  }
}